expression/env
expression/outputs
expression/wandb
.DS_STORE
*.log
*.log.*
*DS_STORE
**/__pycache__
expression/data/output.csv
expression/data/*.csv
expression/data/*.zip
expression/out
expression/*.csv
expression/*.pt
expression/*.err
expression/*.out
expression/*.fasta
node_modules
expression/data/*.pkl
choformer/*.csv
choformer/*.err
choformer/*.out
choformer/ckpts
choformer/wandb
expression/logs
expression/data/old
expression/tests
venv